[Unit]
Description=WarRig Wardriving Rig
After=network.target bluetooth.target
# prevent system hostapd/dnsmasq from fighting us
Conflicts=hostapd.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /home/pi/war-rig/scripts/start.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
